{% if mongodb %}
    {% if period == 'index' %}
    <p>{{ _('Объявлений за час:') }} <strong>{{ count.hour }}</strong></p>
    <p>{{ _('за сегодня:') }} <strong>{{ count.day }}</strong></p>
    {% else %}
        {{ count_period }}
    {% endif %}
{% endif %}
