<div class="navbar navbar-default navbar-ab navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">{{ _('Навигация') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="#">AvtoBazar</a>
        </div>
        <div id="slidemenu">
            <ul class="nav navbar-nav">
                <li class="ab_sidebar_header visible-xs">
                    {% block header_sidebar_well %}
                    <p class="logo">AvtoBazar</p>
                    <p>2000 объявлений за час</p>
                    {% endblock %}
                </li>
                {% block header_menu_lists_items %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> Найти <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-car"></i> Легковые</a></li>
                        <li><a href="#"><i class="fa fa-bus"></i> Автобусы</a></li>
                        <li><a href="#"><i class="fa fa-truck"></i> Грузовые</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-lightbulb-o"></i> Полезное</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-briefcase"></i> Дилеры <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Найти дилера</a></li>
                        <li><a href="#">Как стать дилером?</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-support"></i> Помощь</a>
                </li>
                {% endblock %}
            </ul>

            {% block header_text_search_form %}
            <form class="navbar-form navbar-right visible-lg" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ _('Найти') }}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                          </span>
                    </div>
                </div>
            </form>
            {% endblock %}
            <ul class="nav navbar-nav navbar-right">
                {% block header_right_menu_lists_items %}
                <li>
                    <a href="{{ locale() }}/add/car/" title="{{ _('Добавить объявление') }}"
                       data-toggle="tooltip" data-placement="bottom">
                        <span class="visible-xs"><i class="fa fa-plus"></i> {{ _('Добавить объявление') }}</span>
                        <span class="hidden-xs"><i class="fa fa-plus"></i></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cogs"></i> {{ _('Мой Автобазар') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu main-dropdown-menu" role="menu">
                        {% block personal_menu_lists_items %}
                        <li><a href="#"><i class="fa fa-user"></i> {{ _('Профиль') }}</a></li>
                        <li><a href="#"><i class="fa fa-archive"></i> {{ _('Объявления') }}</a></li>
                        <li><a href="#"><i class="fa fa-star"></i> {{ _('Избранное') }}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{ _('Сообщения') }}</a></li>
                        <li><a href="#"><i class="fa fa-area-chart"></i> {{ _('Статистика') }}</a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i> {{ _('Оплаты') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ _('Еще') }}</a></li>
                        {% endblock %}
                    </ul>
                </li>
                {% endblock %}
            </ul>

        </div>
    </div>
</div>
