<!DOCTYPE html>
<html lang="{{ language() }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ static_image('img/ab_v4.ico') }}">

  <title>{% block site_title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{{ _("Автобазар") }}{% endblock %}"/>
  <meta name="keywords" content="{% block meta_keywords %}{{ _("Автобазар") }}{% endblock %}"/>
  {% block stylesheets %}
{#    <link href="{{ stylesheet('css/libs.min.css') }}" rel="stylesheet">#}
{#    <link href="{{ stylesheet('css/bs_theme_common.css') }}" rel="stylesheet">#}
      {{ stylesheet_inline('css/libs.min.css') }}
      {{ stylesheet_inline('css/bs_theme_common.css') }}
  {% endblock %}
  {% block ogp %}{% endblock %}
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div class="head-menu-wrap">
  <div class="container head-menu">
    <div class="navbar-header row">
      <ul class="nav navbar-nav visible-md visible-lg">
        <li><a href="{{ get_host() }}{{ locale() }}/"><i class="ab ab-home"></i></a></li>
        <li><a id="to_autocentre_link" class="outer_link" href="http://www.autocentre.ua/">Autocentre.ua</a></li>
        <li><a id="to_testdrive_link" class="outer_link" href="http://www.autocentre.ua/test-drives/test-drive/">{{ _('Тест-драйвы') }}</a></li>
        <li><a href="{{ locale() }}/help/main/">{{ _("Помощь") }}</a></li>
        <li><!--noindex--><a class="onlinehelp" href="https://siteheart.com/webconsultation/684708?byhref=1" onclick="o=window.open;o('https://siteheart.com/webconsultation/684708', 'siteheart_sitewindow_11877', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" target="siteheart_sitewindow_11877" rel="nofollow">{{ _("Поддержка он-лайн") }}</a><!--/noindex--></li>
        <li class="dropdown">
          <a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-phone-alt"></i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu phones" role="menu">
            <li><a><small>(044)</small> 206-56-06</a></li>
            <li><a><small>(093)</small> 170-00-10</a></li>
            <li><a><small>(067)</small> 236-54-48</a></li>
          </ul>
        </li>
      </ul>
      <div class="btn btn-warning" id="old_site">{{ _('На старый сайт') }}</div>
      <div class="btn-group user pull-right">{# look  to static/dev/src/coffee/apps/ab_generic/views...#}</div>
      <div class="btn-group language pull-right hidden-xs">{{ locale_switcher(request) }}</div>
    </div>
  </div>
</div>
<div class="container wrapper">
  {% block header %}
    {% include 'base_template/common/header.jinja' %}
  {% endblock %}
  <div class="container content">
    {% block content %}
      <div class="row title-breadcrumbs">
        {% block page_title %}
        {% endblock %}
        {% block pathnav %}
        {% endblock %}
      </div>
      <div class="row">
        <div class="col-xs-12 visible-xs menu-collapse text-center">
          <a data-toggle="collapse" href="#left-column">
            <p>{{ _('Форма поиска') }}<i class="glyphicon glyphicon-collapse-up"></i></p>
          </a>
        </div>
        <div id="left-column" class="col-xs-12 col-md-2 col-sm-3 left-column panel-collapse collapse in">
          {% block left_column %}
          {% endblock %}
        </div>
        <div class="col-xs-12 col-md-7 col-sm-9 center-column">
          {% block center_column %}
          {% endblock %}
        </div>
        <div class="col-md-3 hidden-xs hidden-sm right-column">
          {% block right_column %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="container">
    {% block footer %}
      {% block tizer_advert %}
      {% endblock %}
      {% block seo_bottom %}{% endblock %}
    {% endblock %}
  </div>
  <div class="container-fluid footer">
    <div class="container">
      {% include 'base_template/common/footer.jinja' %}
    </div>
  </div>
</div>
{% block bottom_js %}
  <script src="{{ javascript('js/libs.js') }}"></script>
  <script src="{{ javascript('js/templates.js') }}"></script>
  {% with locale_data_path='js/locale/'|add(language())|add('/i18n.js') %}
    <script src="{{ javascript(locale_data_path) }}"></script>
  {% endwith %}
  <script src="{{ javascript('js/apps/ab.js') }}"></script>
  <script async src="{{ javascript('js/beta.js') }}"></script>
  <script>
    avtobazar.Data.locale = '{{ locale() }}';
    avtobazar.Data.UserFavorites = new avtobazar.Collection.Favorites();
    avtobazar.Data.Currencies = new avtobazar.Collection.Currencies({{ currency_json() }});
    avtobazar.site_version = 2;
    {% if request.user.is_authenticated() %}
      avtobazar.Data.User = new avtobazar.Model.User({id: '{{request.user.id}}', is_authenticated: true, username: '{{request.user.username}}'});
      avtobazar.Data.UserFavorites.fetch();
    {% else %}
      avtobazar.Data.User = new avtobazar.Model.User();
      avtobazar.Data.FavoritesCookieKey = 'user_favorites';
      if ( $.cookie(avtobazar.Data.FavoritesCookieKey) === undefined) {
        $.cookie(avtobazar.Data.FavoritesCookieKey, '')
      }
      _.each($.cookie(avtobazar.Data.FavoritesCookieKey).split('|'), function(model) {
        if (model !== '' && model !== undefined) {
          avtobazar.Data.UserFavorites.add(new avtobazar.Model.Favorite({object_id: parseInt(model, 10), cookie_based: true}));
        }
      });
    {% endif %}
  </script>
{% endblock %}
{% include 'base_template/gtm.jinja' %}
</body>
</html>
