{% if mongodb %}
    {% if period == 'index' %}
        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            {{ _('Объявлений за час:') }} <strong>{{ count.hour }}</strong> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li>
                  <a href="{{ locale() }}/poisk/avto/?period=1">
                      <i class="ab ab ab-avto"></i> {{ _('Легковые') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/avtobus/?period=1">
                      <i class="ab ab-avtobus"></i> {{ _('Автобусы') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/gruzovye/?period=1">
                      <i class="ab ab-gruzovye"></i> {{ _('Грузовые') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/moto/?period=1">
                      <i class="ab ab-moto"></i> {{ _('Мототехника') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/technics/?period=1">
                      <i class="ab ab-technics"></i> {{ _('Спецтехника') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/trailer/?period=1">
                      <i class="ab ab-trailer"></i> {{ _('Прицепы') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/water/?period=1">
                      <i class="ab ab-water"></i> {{ _('Водный транспорт') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/avia/?period=1">
                      <i class="ab ab-avia"></i> {{ _('Авиа транспорт') }}
                  </a>
              </li>
          </ul>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            {{ _('за сегодня:') }} <strong>{{ count.day }}</strong> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li>
                  <a href="{{ locale() }}/poisk/avto/?period=24">
                      <i class="ab ab ab-avto"></i> {{ _('Легковые') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/avtobus/?period=24">
                      <i class="ab ab-avtobus"></i> {{ _('Автобусы') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/gruzovye/?period=24">
                      <i class="ab ab-gruzovye"></i> {{ _('Грузовые') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/moto/?period=24">
                      <i class="ab ab-moto"></i> {{ _('Мототехника') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/technics/?period=24">
                      <i class="ab ab-technics"></i> {{ _('Спецтехника') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/trailer/?period=24">
                      <i class="ab ab-trailer"></i> {{ _('Прицепы') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/water/?period=24">
                      <i class="ab ab-water"></i> {{ _('Водный транспорт') }}
                  </a>
              </li>
              <li>
                  <a href="{{ locale() }}/poisk/avia/?period=24">
                      <i class="ab ab-avia"></i> {{ _('Авиа транспорт') }}
                  </a>
              </li>
          </ul>
        </div>
    {% else %}
        {{ count_period }}
    {% endif %}
{% endif %}
