{% load i18n common_extras sekizai_tags %}
{% load in_group from personal_extras %}

<div class="foot_v3">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a href="{% locale %}/" title="{% if active_menu %}{% get_main_logo_title request active_menu %}{% else %}{% get_main_logo_title request %}{% endif %}">
      {#<img width="195" height="22" alt="{% trans 'АвтоБазар' %}" src="{{ settings.STATIC_URL_IMG }}img/frontend/footer/mainlogo_grey.png" />#}
      <div class="ab-logo ab-small ab-grey">
          <div class="ab-logo-container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top">
                  <div class="radius"></div>
                  <div class="panel-top"></div>
                  <div class="panel-bottom"></div>
              </div>
              <div class="bottom">
                  <div class="radius"></div>
                  <div class="panel-top"></div>
                  <div class="panel-bottom"></div>
              </div>
          </div>
          <span class="h1">AvtoBazar.ua</span>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a class="store_{{current_language}}" href="{% locale %}/iphone/">{%  trans 'Скачать в' %} App Store</a>
      <a class="play_{{current_language}}" href="{% locale %}/android/">{%  trans 'Скачать в' %} Google play</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="socials clearfix">
        <a href="http://www.facebook.com/AvtoBazar.Ukr" target="_blank" title="{% trans 'АвтоБазар на' %} Facebook"><i class="ab ab-facebook"></i></a>
        <a href="https://twitter.com/avtobazar" target="_blank" title="{% trans 'АвтоБазар на' %} Twitter"><i class="ab ab-twitter"></i></a>
        <a href="https://plus.google.com/+avtobazar/posts" target="_blank" title="{% trans 'АвтоБазар на' %} Google+"><i class="ab ab-google"></i></a>
        <a href="http://www.youtube.com/avtobazar" target="_blank" title="{% trans 'АвтоБазар на' %} YouTube"><i class="ab ab-youtube"></i></a>
        <a href="http://vk.com/portal_avtobazar" target="_blank" title="{% trans 'Автобазар в ВКОНТАКТЕ' %}"><i class="fa fa-vk"></i></a>
        {# <a class="odnoklassniki" href="http://www.odnoklassniki.ru/group/52076043763791" rel="nofollow" target="_blank" title="{% trans 'АвтоБазар на' %} Odnoklassniki">{% trans 'АвтоБазар на' %} Odnoklassniki</a> #}
      </div>
    </div>
  </div>
  <div class="sprt"></div>
  <div class="row bottom-info">
    <div class="col-sm-4 col-xs-12">
      <p>&copy; {% now "Y" %} {% trans 'ДИМЕДИАГРУПП' %}</p>
      <p class="copytext">{% trans 'Использование материалов сайта' %}<br /><a href="{% locale %}/">{% trans 'АвтоБазар' %}</a> {% trans 'без письменного разрешения <br />ООО «ДИМЕДИАГРУПП» не допускается.' %}</p>
      <p class="hdr_h4">{% trans 'Служба поддержки:' %} <span class="phone">(044) 206-56-06</span></p>
      <p class="mail">support@avtobazar.ua</p>
    </div>
    <div class="col-xs-12 col-sm-4 hidden-xs">
      <div class="mid_links">
          <p><a href="http://avtobazar.ua{% locale %}/help/regionals/">{% trans 'Региональные представительства, <br />пункты приема объявлений' %}</a></p>
          <p><a href="http://avtobazar.ua{% locale %}/" title="{% trans 'Купить авто' %}">{% trans 'Купить авто' %}</a></p>
          <p><a href="http://avtobazar.ua{% locale %}/sitemap/">{% trans 'Карта сайта' %}</a></p>
          <p><a href="http://avtobazar.ua{% locale %}/help/law/">{% trans 'Политика конфиденциальности' %}</a></p>
      </div>
      <div class="partners">
        <div class="hdr"><a href="javascript:void(0)">{% trans 'Партнеры АвтоБазара' %}</a></div>
          <ul>
              <li><a class="outer_link" href="http://www.1auto.tv/" target="_blank" title="{% trans 'Первый Автомобильный телеканал' %}">1auto.tv</a></li>
              <li><a class="outer_link" href="http://newcars.ua/" target="_blank" title="{% trans 'новые автомобили' %}">newcars.ua</a></li>
              <li><a class="outer_link" href="http://avtomag.autocentre.ua/" target="_blank" title="{% trans 'продажа авто' %}">avtomag.ua</a></li>
              <li><a class="outer_link" href="http://mirkvartir.ua/" target="_blank" title="{% trans 'недвижимость' %}">mirkvartir.ua</a></li>
              <li><a class="outer_link" href="http://www.autocentre.ua/" target="_blank" title="{% trans 'продажа авто и транспорта' %}">autocentre.ua</a></li>
              <li><a class="outer_link" href="http://motornews.ua/" target="_blank" title="{% trans 'автомобильный журнал' %}">motornews.ua</a></li>
              <li><a class="outer_link" href="http://www.autobild.ua/" target="_blank" title="{% trans 'автомобильный журнал' %}">autobild.ua</a></li>
              <li><a class="outer_link" href="http://bazar.ua/" target="_blank" title="{% trans 'загородная недвижимость' %}">bazar.ua</a></li>
          </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p><a href="http://avtobazar.ua{% locale %}/new/prodazha/avto/" title="{% trans 'Подать авто объявление на Автобазаре' %}">{% trans 'Подать объявление на Автобазар' %}</a></p>
      <p><a href="http://avtobazar.ua{% locale %}/help/prices/">{% trans 'Стоимость размещения объявлений' %}</a></p>
      <p><a href="http://avtobazar.ua{% locale %}/help/terms/">{% trans 'Условия размещения объявлений' %}</a></p>
      <p><a href="http://avtobazar.ua{% locale %}/help/unlim/">{% trans 'Пакетное размещения объявлений' %}</a></p>
      <p><a href="http://www.autocentre.ua/about.html" target="_blank">{% trans 'Реклама на АвтоБазаре' %}</a></p>
    </div>
  </div>
</div>
