<div class="head-menu-wrap">
    <div class="container head-menu">
      <div class="navbar-header row">
        <ul class="nav navbar-nav visible-md visible-lg">
            <li><a href="{{ get_host() }}{{ locale() }}/"><i class="ab ab-home"></i></a></li>
            <li><a id="to_autocentre_link" class="outer_link" href="http://www.autocentre.ua/">Autocentre.ua</a></li>
            <li><a id="to_testdrive_link" class="outer_link" href="http://www.autocentre.ua/test-drives/test-drive/">{{ _('Тест-драйвы') }}</a></li>
            <li><a href="{{ locale() }}/help/main/">{{ _("Помощь") }}</a></li>
            <li><!--noindex--><a class="onlinehelp" href="https://siteheart.com/webconsultation/684708?byhref=1" onclick="o=window.open;o('https://siteheart.com/webconsultation/684708', 'siteheart_sitewindow_11877', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" target="siteheart_sitewindow_11877" rel="nofollow">{{ _("Поддержка он-лайн") }}</a><!--/noindex--></li>
            <li class="dropdown">
               <a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-phone-alt"></i> <span class="caret"></span>
               </a>
                  <ul class="dropdown-menu phones" role="menu">
                    <li><a><small>(044)</small> 206-56-06</a></li>
                    <li><a><small>(093)</small> 170-00-10</a></li>
                    <li><a><small>(067)</small> 236-54-48</a></li>
                  </ul>
            </li>
        </ul>
        <div class="btn btn-warning" id="old_site">{{ _('На старый сайт') }}</div>
        <div class="btn-group user pull-right">{# look  to static/dev/src/coffee/apps/ab_generic/views...#}</div>
        <div class="btn-group language pull-right hidden-xs">{{ locale_switcher(request) }}</div>
      </div>
    </div>
</div>


<div class="container logo-search hidden-xs">
    <div class="row">
      <div class="col-md-4 col-sm-6 logo col-xs-12">
        <a id="logo_home_link" href="{{ get_host() }}{{ locale() }}/" title="АвтоБазар">
            {% include 'common/logo.jinja' %}
        </a>
        <img style="width:auto; position:absolute; right:70px; top:30px;"
             src="{{ static_image('img/frontend/main_header/united_ukraine_ru.png') }}"
             alt="{{ _('Україна єдина!') }}">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 hidden-sm">
        {% block top_search_group %}
        <form method="get" action="/poisk/" id="top-search-form">
            <div class="input-group search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu search-types">
                        <li><a href="javascript:void(0)" data-type="adverts">{{ _('объявления') }}</a></li>
                        <li><a href="javascript:void(0)" data-type="avtotovary">{{ _('автотовары') }}</a></li>
                        <li><a href="javascript:void(0)" data-type="katalog">{{ _('фирмы') }}</a></li>
                        <li><a href="javascript:void(0)" data-type="zapchasti">{{ _('номер запчасти') }}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="{{ _('например карбюратор') }}" id="q" name="q"
                       autocomplete="off">

                <div class="input-group-btn">
                    <button id="text-search-button" type="submit" class="btn btn-default"><i
                            class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        {% endblock %}
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2 hidden-xs add-advert-btn-cont">
        {% block add_advert_button %}
            <div class="btn-group btn-block add-advert-btn-group">
                    <button id="id_btn_addAdvert" type="button" class="btn btn-danger btn-block btn-lg dropdown-toggle" data-toggle="dropdown">{{ _('Продать авто') }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="id_avto_part" href="/add/car/"><i class="ab ab ab-avto"></i> {{ _('Легковые') }}</a></li>
                        <li><a id="id_bus_part" href="/add/bus/"><i class="ab ab-avtobus"></i> {{ _('Автобусы') }}</a></li>
                        <li><a id="id_gruz_part" href="/add/truck/"><i class="ab ab-gruzovye"></i> {{ _('Грузовые') }}</a></li>
                        <li><a id="id_moto_part" href="/add/moto/"><i class="ab ab-moto"></i> {{ _('Мототехника') }}</a></li>
                        <li><a id="id_technics_part" href="/add/technics/"><i class="ab ab-technics"></i> {{ _('Спецтехника') }}</a></li>
                        <li><a id="id_trailer_part" href="/add/trailer/"><i class="ab ab-trailer"></i> {{ _('Прицепы') }}</a></li>
                        <li><a id="id_water_part" href="/add/water/"><i class="ab ab-water"></i> {{ _('Водный транспорт') }}</a></li>
                        <li><a id="id_avia_part" href="/add/avia/"><i class="ab ab-avia"></i> {{ _('Авиа транспорт') }}</a></li>
                        <li class="divider"></li>
                        <li><a id="id_spares_part" href="/zapchasti/prodazha/"><i class="ab ab-spares"></i> {{ _('Запчасти') }}</a></li>
                        <li><a id="id_file_part" href="/prodazha/raznoe/"><i class="ab ab-file"></i>{{ _('Разное') }}</a></li>
                        <li><a id="id_buy_part" href="/prodazha/buy/"><i class="ab ab-buy"></i>{{ _('Куплю') }}</a></li>
                    </ul>
                </div>
        {% endblock %}
      </div>
    </div>
</div>
{% block main_menu %}
    <div class="container main-menu">
        {% include 'base_template/common/main_menu.jinja' %}
    </div>
{% endblock %}
