{% for lang in settings.LANGUAGES %}
    {% if current_language == lang.0 %}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{lang.1}} <span class="caret"></span>
        </button>
    {% endif %}
{% endfor %}
<ul class="dropdown-menu" role="menu">
{% for lang in settings.LANGUAGES %}
    {% if current_language != lang.0 %}
        <li><a href="{% if lang.0 != settings.LANGUAGE_CODE %}/{{lang.0}}{% endif %}{{path}}">{{lang.1}}</a></li>
    {% endif %}
{% endfor %}
</ul>
